p, .form-example {font-family: "Open Sans";
    font: bold;}

.first-p {position: absolute;
            }

.logo, body { margin: 0 auto;
    padding: 20px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    resize: both;
    overflow: auto;}
       